---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4951'
      X-Ratelimit-Reset:
      - '1494523585'
      Etag:
      - W/"d1d96a1e96e74d1e71c2ed82dcd4a839"
      Last-Modified:
      - Tue, 09 May 2017 06:24:53 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"NessEFC","id":22826692,"avatar_url":"https://avatars2.githubusercontent.com/u/22826692?v=3","gravatar_id":"","url":"https://api.github.com/users/NessEFC","html_url":"https://github.com/NessEFC","followers_url":"https://api.github.com/users/NessEFC/followers","following_url":"https://api.github.com/users/NessEFC/following{/other_user}","gists_url":"https://api.github.com/users/NessEFC/gists{/gist_id}","starred_url":"https://api.github.com/users/NessEFC/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NessEFC/subscriptions","organizations_url":"https://api.github.com/users/NessEFC/orgs","repos_url":"https://api.github.com/users/NessEFC/repos","events_url":"https://api.github.com/users/NessEFC/events{/privacy}","received_events_url":"https://api.github.com/users/NessEFC/received_events","type":"User","site_admin":false,"name":"Craig
        Ness","company":null,"blog":"","location":"Denver, CO","email":"NessEFC@gmail.com","hireable":null,"bio":null,"public_repos":39,"public_gists":14,"followers":2,"following":2,"created_at":"2016-10-13T23:16:25Z","updated_at":"2017-05-09T06:24:53Z"}'
  recorded_at: Thu, 11 May 2017 17:23:58 GMT
recorded_with: VCR 3.0.3
