---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4988'
      X-Ratelimit-Reset:
      - '1494527295'
      Etag:
      - W/"d1d96a1e96e74d1e71c2ed82dcd4a839"
      Last-Modified:
      - Tue, 09 May 2017 06:24:53 GMT
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"NessEFC","id":22826692,"avatar_url":"https://avatars2.githubusercontent.com/u/22826692?v=3","gravatar_id":"","url":"https://api.github.com/users/NessEFC","html_url":"https://github.com/NessEFC","followers_url":"https://api.github.com/users/NessEFC/followers","following_url":"https://api.github.com/users/NessEFC/following{/other_user}","gists_url":"https://api.github.com/users/NessEFC/gists{/gist_id}","starred_url":"https://api.github.com/users/NessEFC/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NessEFC/subscriptions","organizations_url":"https://api.github.com/users/NessEFC/orgs","repos_url":"https://api.github.com/users/NessEFC/repos","events_url":"https://api.github.com/users/NessEFC/events{/privacy}","received_events_url":"https://api.github.com/users/NessEFC/received_events","type":"User","site_admin":false,"name":"Craig
        Ness","company":null,"blog":"","location":"Denver, CO","email":"NessEFC@gmail.com","hireable":null,"bio":null,"public_repos":39,"public_gists":14,"followers":2,"following":2,"created_at":"2016-10-13T23:16:25Z","updated_at":"2017-05-09T06:24:53Z"}'
  recorded_at: Thu, 11 May 2017 17:38:52 GMT
- request:
    method: get
    uri: https://api.github.com/user/starred?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4987'
      X-Ratelimit-Reset:
      - '1494527295'
      Etag:
      - W/"80946bbba4dd22111c3596db30ade628"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":86536816,"name":"mix_master","full_name":"NessEFC/mix_master","owner":{"login":"NessEFC","id":22826692,"avatar_url":"https://avatars2.githubusercontent.com/u/22826692?v=3","gravatar_id":"","url":"https://api.github.com/users/NessEFC","html_url":"https://github.com/NessEFC","followers_url":"https://api.github.com/users/NessEFC/followers","following_url":"https://api.github.com/users/NessEFC/following{/other_user}","gists_url":"https://api.github.com/users/NessEFC/gists{/gist_id}","starred_url":"https://api.github.com/users/NessEFC/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/NessEFC/subscriptions","organizations_url":"https://api.github.com/users/NessEFC/orgs","repos_url":"https://api.github.com/users/NessEFC/repos","events_url":"https://api.github.com/users/NessEFC/events{/privacy}","received_events_url":"https://api.github.com/users/NessEFC/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/NessEFC/mix_master","description":null,"fork":false,"url":"https://api.github.com/repos/NessEFC/mix_master","forks_url":"https://api.github.com/repos/NessEFC/mix_master/forks","keys_url":"https://api.github.com/repos/NessEFC/mix_master/keys{/key_id}","collaborators_url":"https://api.github.com/repos/NessEFC/mix_master/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/NessEFC/mix_master/teams","hooks_url":"https://api.github.com/repos/NessEFC/mix_master/hooks","issue_events_url":"https://api.github.com/repos/NessEFC/mix_master/issues/events{/number}","events_url":"https://api.github.com/repos/NessEFC/mix_master/events","assignees_url":"https://api.github.com/repos/NessEFC/mix_master/assignees{/user}","branches_url":"https://api.github.com/repos/NessEFC/mix_master/branches{/branch}","tags_url":"https://api.github.com/repos/NessEFC/mix_master/tags","blobs_url":"https://api.github.com/repos/NessEFC/mix_master/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/NessEFC/mix_master/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/NessEFC/mix_master/git/refs{/sha}","trees_url":"https://api.github.com/repos/NessEFC/mix_master/git/trees{/sha}","statuses_url":"https://api.github.com/repos/NessEFC/mix_master/statuses/{sha}","languages_url":"https://api.github.com/repos/NessEFC/mix_master/languages","stargazers_url":"https://api.github.com/repos/NessEFC/mix_master/stargazers","contributors_url":"https://api.github.com/repos/NessEFC/mix_master/contributors","subscribers_url":"https://api.github.com/repos/NessEFC/mix_master/subscribers","subscription_url":"https://api.github.com/repos/NessEFC/mix_master/subscription","commits_url":"https://api.github.com/repos/NessEFC/mix_master/commits{/sha}","git_commits_url":"https://api.github.com/repos/NessEFC/mix_master/git/commits{/sha}","comments_url":"https://api.github.com/repos/NessEFC/mix_master/comments{/number}","issue_comment_url":"https://api.github.com/repos/NessEFC/mix_master/issues/comments{/number}","contents_url":"https://api.github.com/repos/NessEFC/mix_master/contents/{+path}","compare_url":"https://api.github.com/repos/NessEFC/mix_master/compare/{base}...{head}","merges_url":"https://api.github.com/repos/NessEFC/mix_master/merges","archive_url":"https://api.github.com/repos/NessEFC/mix_master/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/NessEFC/mix_master/downloads","issues_url":"https://api.github.com/repos/NessEFC/mix_master/issues{/number}","pulls_url":"https://api.github.com/repos/NessEFC/mix_master/pulls{/number}","milestones_url":"https://api.github.com/repos/NessEFC/mix_master/milestones{/number}","notifications_url":"https://api.github.com/repos/NessEFC/mix_master/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/NessEFC/mix_master/labels{/name}","releases_url":"https://api.github.com/repos/NessEFC/mix_master/releases{/id}","deployments_url":"https://api.github.com/repos/NessEFC/mix_master/deployments","created_at":"2017-03-29T04:01:07Z","updated_at":"2017-05-11T00:18:07Z","pushed_at":"2017-03-30T05:05:24Z","git_url":"git://github.com/NessEFC/mix_master.git","ssh_url":"git@github.com:NessEFC/mix_master.git","clone_url":"https://github.com/NessEFC/mix_master.git","svn_url":"https://github.com/NessEFC/mix_master","homepage":null,"size":41,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":1,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":89948555,"name":"rails_engine","full_name":"lukyans/rails_engine","owner":{"login":"lukyans","id":20569018,"avatar_url":"https://avatars1.githubusercontent.com/u/20569018?v=3","gravatar_id":"","url":"https://api.github.com/users/lukyans","html_url":"https://github.com/lukyans","followers_url":"https://api.github.com/users/lukyans/followers","following_url":"https://api.github.com/users/lukyans/following{/other_user}","gists_url":"https://api.github.com/users/lukyans/gists{/gist_id}"[...]
- request:
    method: get
    uri: https://api.github.com/user/followers?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4986'
      X-Ratelimit-Reset:
      - '1494527295'
      Etag:
      - W/"7aa11dd888fac6f74619[...]
[...]
- request:
    method: get
    uri: https://api.github.com/user/following?access_token=<GITHUB_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4984'
      X-Ratelimit-Reset:
      - '1494527295'
      Etag:
      - W/"48932c299cc4b9ed20c6[...]
[...]
