---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos?access_token=<GITHUB_TOKEN>&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4970'
      X-Ratelimit-Reset:
      - '1494557890'
      Etag:
      - W/"f9afd540e5f2d67c5e1c7afa7bf909b4"
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - "<GITHUB_CLIENT_ID>"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":89948555,"name":"rails_engine","full_name":"lukyans/rails_engine","owner":{"login":"lukyans","id":20569018,"avatar_url":"https://avatars1.githubusercontent.com/u/20569018?v=3","gravatar_id":"","url":"https://api.github.com/users/lukyans","html_url":"https://github.com/lukyans","followers_url":"https://api.github.com/users/lukyans/followers","following_url":"https://api.github.com/users/lukyans/following{/other_user}","gists_url":"https://api.github.com/users/lukyans/gists{/gist_id}","starred_url":"https://api.github.com/users/lukyans/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/lukyans/subscriptions","organizations_url":"https://api.github.com/users/lukyans/orgs","repos_url":"https://api.github.com/users/lukyans/repos","events_url":"https://api.github.com/users/lukyans/events{/privacy}","received_events_url":"https://api.github.com/users/lukyans/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/lukyans/rails_engine","description":null,"fork":false,"url":"https://api.github.com/repos/lukyans/rails_engine","forks_url":"https://api.github.com/repos/lukyans/rails_engine/forks","keys_url":"https://api.github.com/repos/lukyans/rails_engine/keys{/key_id}","collaborators_url":"https://api.github.com/repos/lukyans/rails_engine/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/lukyans/rails_engine/teams","hooks_url":"https://api.github.com/repos/lukyans/rails_engine/hooks","issue_events_url":"https://api.github.com/repos/lukyans/rails_engine/issues/events{/number}","events_url":"https://api.github.com/repos/lukyans/rails_engine/events","assignees_url":"https://api.github.com/repos/lukyans/rails_engine/assignees{/user}","branches_url":"https://api.github.com/repos/lukyans/rails_engine/branches{/branch}","tags_url":"https://api.github.com/repos/lukyans/rails_engine/tags","blobs_url":"https://api.github.com/repos/lukyans/rails_engine/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/lukyans/rails_engine/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/lukyans/rails_engine/git/refs{/sha}","trees_url":"https://api.github.com/repos/lukyans/rails_engine/git/trees{/sha}","statuses_url":"https://api.github.com/repos/lukyans/rails_engine/statuses/{sha}","languages_url":"https://api.github.com/repos/lukyans/rails_engine/languages","stargazers_url":"https://api.github.com/repos/lukyans/rails_engine/stargazers","contributors_url":"https://api.github.com/repos/lukyans/rails_engine/contributors","subscribers_url":"https://api.github.com/repos/lukyans/rails_engine/subscribers","subscription_url":"https://api.github.com/repos/lukyans/rails_engine/subscription","commits_url":"https://api.github.com/repos/lukyans/rails_engine/commits{/sha}","git_commits_url":"https://api.github.com/repos/lukyans/rails_engine/git/commits{/sha}","comments_url":"https://api.github.com/repos/lukyans/rails_engine/comments{/number}","issue_comment_url":"https://api.github.com/repos/lukyans/rails_engine/issues/comments{/number}","contents_url":"https://api.github.com/repos/lukyans/rails_engine/contents/{+path}","compare_url":"https://api.github.com/repos/lukyans/rails_engine/compare/{base}...{head}","merges_url":"https://api.github.com/repos/lukyans/rails_engine/merges","archive_url":"https://api.github.com/repos/lukyans/rails_engine/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/lukyans/rails_engine/downloads","issues_url":"https://api.github.com/repos/lukyans/rails_engine/issues{/number}","pulls_url":"https://api.github.com/repos/lukyans/rails_engine/pulls{/number}","milestones_url":"https://api.github.com/repos/lukyans/rails_engine/milestones{/number}","notifications_url":"https://api.github.com/repos/lukyans/rails_engine/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/lukyans/rails_engine/labels{/name}","releases_url":"https://api.github.com/repos/lukyans/rails_engine/releases{/id}","deployments_url":"https://api.github.com/repos/lukyans/rails_engine/deployments","created_at":"2017-05-01T18:02:03Z","updated_at":"2017-05-05T03:17:39Z","pushed_at":"2017-05-05T06:41:05Z","git_url":"git://github.com/lukyans/rails_engine.git","ssh_url":"git@github.com:lukyans/rails_engine.git","clone_url":"https://github.com/lukyans/rails_engine.git","svn_url":"https://github.com/lukyans/rails_engine","homepage":null,"size":616,"stargazers_count":1,"watchers_count":1,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"open_issues_count":2,"forks":1,"open_issues":2,"watchers":1,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":80877690,"name":"night_writer","full_name":"mariastenquist/night_writer","owner":{"login":"mariastenquist","id":8611986,"avatar_url":"https://avatars1.githubusercontent.com/u/8611986?v=3","gravatar_id":"","url":"https://api.github.com/users/mariastenquist","html_url":"https://github.com/mariastenquist","followers_url":"https://api.github.com/users/mariastenquist/followers","following_url":"https://api.github.com/users/mariastenquist/following{/other_user}","gists_url":"https://api.g[...]
